/*
 * This file contains your sensitive information and is not tracked by git 
 * This app needs '.env' in order to start
 * To get started, copy the content of 'env.example' into a new '.env'
      $  cp ./env.example > .env
 * Replace all ... in .env with your credentials and kickstart the server
 */


// Discord bot token
TOKEN=...

// Tenor gif token
TENOR_TOKEN=...

// My seneca account
SENECA_USERNAME=seneds\...
SENECA_PASSWORD=...
